body{
    background-color: #ffff;
    padding: 0;
    border: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}
.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 0px;
    align-items: right;
}
.header-link{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}
.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}
.flex-container{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.flex-container div{
    color: black;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}
.flex-container img{
    width: 200px;
    height: 200px;
    align-items: center;
    border: 6px solid blue;
}
.bx-quote{
    display: flex;
    font-size: 36px;
    flex-direction: column;
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
    padding: 0 200px;
}

.logo{
    display: flex;
    color: #F9FAF8;
    font-size: 10px;
    background-color: #1F2937;
    padding: 20px;
    text-align: left;
}
.sign-item {
    display: flex;
    text-align: center;
    background-color: lightblue;
}
.signs-text{
    display: flex;
    font-size: 28px;
    background-color: lightblue;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}
.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
}
